<div class="container row justify-content-center">
  <div class="card borda-cor-especial card-largura p-0 m-4 col-12 col-md-4 " style="width: 18rem;">
    <img src="assets/images/photo1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">CARROS</h5>
      <p class="card-text">"Possante como um jato, veloz como um foguete."
        content.</p>
      <a href="#" class="btn btn-primary">Mais fotos!</a>
    </div>

  </div>
  <div class="card borda-cor-especial card-largura p-0 m-4 col-12 col-md-4 " style="width: 18rem;">
    <img src="assets/images/photo2.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">15 ANOS</h5>
      <p class="card-text">Fazer 15 anos é um marco na vida de qualquer adolescente, é o momento de deixar uma fase para trás e começar um novo momento.</p>
      <a href="#" class="btn btn-primary">Mais fotos!</a>
    </div>

  </div>

  <div class="card borda-cor-especial card-largura p-0 m-4 col-12 col-md-4 " style="width: 18rem;">
    <img src="assets/images/photo3.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">BODAS </h5>
      <p class="card-text">Ainda hoje, percebo o brilho no olhar que vocês se olham. Que ele nunca se apague. 
        content.</p>
      <a href="#" class="btn btn-primary">Mais fotos!</a>
    </div>

  </div>

  <div class="card borda-cor-especial card-largura p-0 m-4 col-12 col-md-4 " style="width: 18rem;">
    <img src="assets/images/photo4.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">CASAMENTOS </h5>
      <p class="card-text">Um casamento perfeito é apenas duas pessoas imperfeitas que se recusam a desistir um do outro. 
        content.</p>
      <a href="#" class="btn btn-primary">Mais fotos!</a>
    </div>

  </div>
  <div class="card borda-cor-especial card-largura p-0 m-4 col-12 col-md-4 " style="width: 18rem;">
    <img src="assets/images/photo7.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">BATIZADOS</h5>
      <p class="card-text">Que a sua vida seja tão bela e abençoada quanto o dia do seu batismo. Seja um bom cristão.
        content.</p>
      <a href="#" class="btn btn-primary">Mais fotos!</a>
    </div>

  </div>
  <div class="card borda-cor-especial card-largura p-0 m-4 col-12 col-md-4 " style="width: 18rem;">
    <img src="assets/images/photo6.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">HEROIS</h5>
      <p class="card-text"> Podemos não ganhar todas as batalhas, mas devemos dar sempre o nosso máximo.                                                                           
      </p>
      <a href="#" class="btn btn-primary">Mais fotos!</a>
    </div>

  </div>

 











</div>