<div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom menu-">
    <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <app-header></app-header>
    </a>

    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto b-white">
      <button type="button" class="btn btn-primary">Sobre</button>
      <button type="button" class="btn btn-primary">Contato</button>
      <button type="button" class="btn btn-primary">Temas</button>
    </nav>
    <a class="btn btn-outline-primary" href="#">Sign up</a>
</div>